#Middle_section3 {
    width: 100%;
    background-color: #EDEECC;
}

#Middle_section3_container {
    width: 100%;
    padding: 70px 8.333333333vw;
    display: flex;
}

#M_sec3_left_font {
    width: 3%;
    font-size: 15px;
    font-family: 'Microsoft JhengHei';
    color: #636466;
    writing-mode: vertical-lr;
}

#M_sec3_center_img {
    width: 35%;
}

#M_sec3_center_img>img {
    width: 100%;
}
#M_sec3_right{
    width: 62%;

}
#M_sec3_righttop {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 30px;
}
#M_sec3_righttop_fontcover{
    width:65%;
}
.M_sec3_right_font1 {
    position: relative;
    overflow: hidden;
    font-size: 28px;
    font-family: 'Microsoft JhengHei';
    color: #636466;
    margin-bottom: 15px;
}
.M_sec3_right_font1::after {
    position: absolute;
    content: '_______________________';
}

#M_sec3_righttop_imgcover{
    width: 30%;
}

#M_sec3_righttop_imgcover>img{
    width: 100%;
}
#M_sec3_rightbottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 30px;
}
#M_sec3_rightbottom_fontcover{
    width: 65%;
}
#M_sec3_rightbottom_imgcover{
    width: 30%;
}
#M_sec3_rightbottom_imgcover>img{
    width: 100%;
}

.M_sec3_right_font2 {
    font-size: 15px;
    font-family: 'Microsoft JhengHei';
    color: #636466;
    margin-bottom: 15px;
}