@font-face {
    font-family: KozMinPro-Medium;
    src: url('../KozMinPro-Medium_font/KozMinPro-Medium.otf');
  }

#Middle_section1 {
    width: 100%;
    padding: 0 8.333333333vw;
    background-color: #6F4F55;
    margin-top: -6vw;
}

#Middle_section1_container {
    display: flex;
    width: 100%;
    height: 46.35vw;
}

#M_sec1_left {
    width: 50%;
    height: 100%;
}

#M_sec1_left>img {
    width: 100%;
}

#M_sec1_right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#M_sec1_right_fontvon {
    height: 100%;
    position: absolute;
    top: 150px;
}

.M_sec1_right_font1,
.M_sec1_right_font2 {
    width: 100%;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #ECDECC;
}

.M_sec1_right_font1:nth-child(1) {
    font-size: 28px;
    font-family: 'Microsoft JhengHei';
    margin-bottom: 3vw;
}

.M_sec1_right_font1:nth-child(2) {
    font-size: 15px;
    font-family: 'Microsoft JhengHei';
    margin-bottom: 0.781vw;
}

.M_sec1_right_font1:nth-child(3) {
    font-size: 15px;
    font-family: 'Microsoft JhengHei';
    margin-bottom: 3.125vw;
}

.M_sec1_right_font2 {
    font-size: 15px;
    font-family: 'Microsoft JhengHei';
    position: absolute;
    bottom: 115px;
}

.M_sec1_right_font2::before {
    position: absolute;
    content: '———';
    left: -5px;
}