#section6{
    width: calc(100% - 70px);
    padding: 120px 0 70px 0 ;
    position: relative;
    background-image: url('../素材/section05/s05-01.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#container6{
    width: 100%;
    max-width: 1560px;
    margin: auto;
    padding-right: 120px;
    overflow: hidden;
    position: relative;
    z-index: 2;
 
}
#container6_top{
    width: 100%;
    height: 175px;
    display: flex;
    margin-bottom: 85px;
}
#container6_title{
    width: 255px;
    height: 135px;
    margin-left: 100px;
    margin-right: 125px;
    background-image: url('../素材/section05/s05-04.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
#container6_font1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    font-size: 23px;
    font-family: '小塚ゴシック Pr6N*';
    color:#79AEAA;
}

#container6_swiper{
    width: 100%;
    height: 600px;

    padding: 0 95px;
    position: relative;
    margin-bottom: 55px;
}
.swiper-container{
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 570px;
    margin-top: 55px;
}
.TT{
    width: 100%;
    height: 15px;
    background-image: url('../素材/section05/s05-05.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-bottom: 15px;
}
.container6_swiper_img{
    width: 100%;
    height: 385px;
    position: relative;
    margin-bottom: 30px;
}

.swiper-slide img{
    width: 100%;
    height: 100%;
}

.swiper-button-next1{
    width: 55px;
    height: 55px;
    position: absolute;
    right: 30px;
    top: 220px;
    background-image: url('../素材/section05/s05-10.svg');
}

.swiper-button-prev1{
    width: 55px;
    height: 55px;
    position: absolute;
    left: 30px;
    top: 220px;
    background-image: url('../素材/section05/s05-09.svg');
}
.container6_swiper_font1{
    
    background-color: #EC6D52;
    position: absolute;
    top: -90px;
    left: 70px;
    font-size: 23px;
    font-family: 'KozMinPr6N*';
    writing-mode: vertical-lr;
    padding: 15px 10px;
    color: #FFFFFF;
}
.container6_price{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.container6_money{
    width: 290px;
    height: 100%;
    font-size: 60px;
    font-family: 'Lucida Bright*';
    line-height: 60px;
    color: #F1C49D;
}

#sec6more{
    width: 180px;
    height: 50px;
    background-image:url('../素材/section05/s05-03.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    display: block;
    background-color:transparent;/*去除按鈕預設背景*/
    border: 0;/*去除按鈕預設邊線*/
    /* 行內元素 img input 無法直接用marign 
       除非包個父層 OR 下display:block */
}


.sec6but{
    width:200px;
    height:50px;
    background-image:url('../素材/section05/s05-12.svg');
    background-color:transparent;/*去除按鈕預設背景*/
    border: 0;/*去除按鈕預設邊線*/
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    align-self: center;
}
#sec6_bg1{
    width: 645px;
    height: 875px;
    background-image:url('../素材/section05/s05-02.svg');
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    top: -80px;
    right: 0;
    
}