#section4{
    width: calc(100% - 70px);
    height: 1140px;
    background-image: url('../index_img/section03/s03-02.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 190px 0 70px 0;
    position: relative;
}
#container4{
    width: 100%;
    max-width: 1120px;
    position: relative;
    margin: auto;
    z-index: 2;
}
#container4_top{
    width: 100%;
    height: 33px;
    background-color: sienna;
}

#container4_left{
    width: 405px;
    position: absolute;
    top: 140px;
    z-index: 1;
}
#container4_right{
    width: 745px;
    position: absolute;
    top: 0;
    right: 0;
    z-index:0;
}
#container4_right_T{
    width: 100%;
    height: 310px;
    display: flex;
    margin-bottom: 20px;
}

.container4_font1:nth-child(1){
    /* width: 20px;
    height: 200px; */
    margin-top: 45px;
    margin-left: 180px;
    font-size: 23px;
    font-family: '小塚明朝 Pro';
    writing-mode: vertical-lr;
}
.container4_font1:nth-child(2){
    /* width: 20px;
    height: 150px; */
    margin-top: 45px;
    /* margin-left: 10px; */
    font-size: 23px;
    font-family: '小塚明朝 Pro';
    writing-mode: vertical-lr;
}
.container4_title{
    width: 130px;
    height: 255px;
    margin-left: 40px;
    background-image: url('../index_img/section03/s03-01.svg');
}

#container4_button{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
}

#container4_con_slider{
    width: 100%;
    height: 335px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
}

#container4_more{
    width: 225px;
    height: 55px;
    background-color: darkcyan;
    font-size: 30px;
    margin-left: 100px;
}
#sec4_bg1{
    width: 675px;
    height: 880px;
    position: absolute;
    top: -150px;
    right: 0;
    background-image: url('../index_img/section03/s03-08.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
#sec4_bg2{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 270px;
    left: 270px;
    background-image: url('../index_img/section03/s03-07.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.sec4but{
    width:225px;
    height:55px;
    background-image:url('../index_img/section03/s03-03.svg');
    background-color:transparent;
    border: 0;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-left: 50px;
}