#section5{
    width: calc(100% - 70px);
    /* height: 1151px; */
    background-color: rgb(105, 75, 38);
    padding: 85px 0 85px 0;
    background-image: url('../index_img/section04/s04-01.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
}
#container5{
    max-width: 1560px;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0 30px;
    position: relative;
    z-index: 2;
}
#container5_top{
    width: 100%;
    height: 135px;
    margin-bottom: 100px;
}

#container5_title{
    width: 260px;
    height: 135px;
    margin: auto;
    background-image: url('../index_img/section04/s04-02.svg');
    background-repeat: no-repeat;
    background-position: center;
}

#container5_center{
    width: 100%;
}
#container5_center_A{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}
#container5_center_B{
    width: 100%;
    display: flex;
}
.con5_AA,.con5_BB{
    width: 27.2%;
}
.con5_AA:nth-child(2),.con5_BB:nth-child(2){
    margin:0 auto;
}
.container5_font1{
    width: 100%;
    height: 55px;
    font-size: 28px;
    font-family: 'Lucida Bright*';
    text-align: left;
    line-height: 55px;
    color:#698D76;
}
.container5_img{
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}
.container5_img img{
    width: 100%;
    height: 100%; 
}
/*------------------------------*/
.con5img_cover{
    width: 100%;
    height: 0%;
    background-color: gray;
    filter: alpha(opacity(25));
    opacity: 0.25;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    /* 自身高度 */
    z-index: 50;
    transition: 1s;
}

.container5_img:hover .con5img_cover {
    height: 100%;}

.container5_img:hover img {
    transition: 1s;
    transform: scale(1.05);
}
/*------------------------------*/
.container5_font2{
    width: 100%;
    font-size: 23px;
    font-family: '小塚ゴシック Pr6N';
    color: #474747;
    line-height: 30px;
}
#container5_center_B{
    width: 100%;
    height: 380px;
}
#container5_bg{
    width: 225px;
    height: 135px;
    background-image: url('../index_img/section04/s04-06.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 80px;
    top: 50px;
}
#container5_bg1{
    width: 375px;
    height: 690px;
    background-image: url('../index_img/section04/s04-05.svg');
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    left: 0;
    top: -395px;
    z-index: 1;
}
#container5_bg2{
    width: 100%;
    height: 100px;
    background-image: url('../index_img/section04/s04-07.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: absolute;
    bottom: -75px;
    z-index: 1;
}
 